body {
    background: #f6f6f4;
    color: #111111;
}
nav {
    background: #FACB37;
    color: #111111;
    border: 6px solid #111111;
}

header {
    background: #3153D1;
    color: #f6f6f4;
    border: 6px solid #111111;
}
img {
    width: 420px;
    height: 260px;
    border: 6px solid #f6f6f4;
}
h1 {
    color: #FACB37;
}
